* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.title {
    color: #1C5EEA;
    margin: 2rem 0;
    font-size: 4rem;
    text-align: center;
}

.message-list {
    list-style: none;
}

.message {
    align-items: center;
    border: 1px solid black;
    border-radius: 20px;
    box-shadow: 3px 3px 3px 3px #ccc;
    display: flex;
    flex-direction: column;
    margin: 1rem;
    padding: 1rem;
}

.message__avatar-container {
    border: 1px solid black;
    height: 100px;
    margin-bottom: 1.5rem;
    width: 100px;
}

.message__avatar {
    width: 100%;
}

.message__content {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
}

.message__content-info {
    border-top: 1px solid #ccc;
    margin-top: 1.5rem;
    padding-top: 0.5rem;
}

.id {
    color: #444;
    font-size: 0.8rem;
}

@media(min-width: 800px) {
    .message {
        align-items: stretch;
        flex-direction: row;
        margin: 2rem;
        padding: 2rem;
    }

    .message__avatar-container {
        margin-bottom: 0;
    }

    .message__content {
        margin-left: 2rem;
    }
}
